<!-- <div class="column large9 pivot_container red_sge" style="position: fixed;">
    <a class="pivot_button icon left" onclick="history.back();">
        <i class="ms-Icon ms-Icon--Back" aria-hidden="true"></i>
    </a>
    <a class="pivot_button icon left" onclick="history.forward();">
        <i class="ms-Icon ms-Icon--Forward" aria-hidden="true"></i>
    </a>
    <a href="#" class="pivot_button right"><i class="ms-Icon ms-Icon--ReminderPerson"></i></a>
</div> -->
<seg-nav-menu>

</seg-nav-menu>



<header class="ms-welcome__header">
    <img width="90" height="90" src="../../../assets/logo-filled.png" alt="Supporting Educational Group" title="Contoso Task Pane Add-in" />
    <!-- <h1 class="ms-fontSize-su ms-fontWeight-light ms-fontColor-neutralPrimary">{{welcomeMessage}}</h1> -->
</header>

<a class="navbar-brand" [routerLink]="['/welcome']">Welcome</a>

<router-outlet></router-outlet>
<!-- <seg-welcome></seg-welcome> -->
