
<main class="ms-welcome__main">
    
    <h2 class="ms-font-xl ms-fontWeight-semilight ms-fontColor-neutralPrimary ms-u-slideUpIn20"> Hi {{userName}} </h2>

    <h2 class="ms-font-xl ms-fontWeight-semilight ms-fontColor-neutralPrimary ms-u-slideUpIn20"> Discover what Office Add-ins can do SE Group </h2>
    <!-- <ul class="ms-List ms-welcome__features ms-u-slideUpIn10">
        <li class="ms-ListItem">
           
            <span class="ms-font-m ms-fontColor-neutralPrimary">Achieve more with Office integration</span>
      
        </li>
    </ul> -->
    <br>

    <button class="ms-font-m frost_container red_sge" onmouseover="frosting();">
        <i class="ms-Icon ms-Icon--Ribbon"></i>  <span class="frost"> Start the tour</span>
    </button>
</main>